@import '../../app/mixins.module.scss';
@import '../../app/variables.module.scss';


.transactionWrapper {
    background-color: white;
    position: relative;
    border:none;
    margin: 30px auto;
    padding : 10px 10px;
    box-shadow: 0 0 3px 3px rgba(76,76,76,0.5) ;
    
    h4 span {
        font-size: 24px;
        position: absolute;
        right: 50px;
        bottom: 40px;;
    }
    input {
        margin-right : 10px;
    }
}

  
.transactionDetailsButton{
    @include buttonShape;
    padding: 0;
    text-align: center;
    width: 20px;
    height: 20px;
    font-size: 15px;
    transform: rotate(90deg);
    transform-origin: center;
    position: absolute;
    right: 0px;
    cursor: pointer;
    @media screen and  (max-width: 800px){
        right: -10px;
        bottom: -10px;
    }
}

.transactionDetails {
    box-shadow: 0 0 3px 3px rgba(76,76,76,0.5) ;
    padding: 10px 5px;
    text-align: left;
    margin-left: 25px;
    @media screen and  (max-width: 800px){
        padding: 0 5px;
        margin-top: 20px;
    }
    form {
        line-height: 20px;
        input, select {
            width: 240px;
            border: 1px solid $primary-green;
            @media screen and  (max-width: 800px){
                width: 180px;
            }
            @media screen and  (max-width: 600px){
                width: 140px;
            }
        }
        select {
            margin-right: 10px;
        }
        button {
            border: none;
            background-color: white;
        }
    }   
    p { 
        margin: 0 auto;
    }
}


.boardRow, .transactionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    .date, .description, .amount, .balance {
        flex: 1;
        text-align: center;
        padding: 5px;
      }
    .description {
        flex: 3;
    }    
}
  
.transactionHeader{
    position: relative;
    border-bottom: none;
}