.form {
    display: block;
    
}

.form label {
    display: block;
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0;
}

.form button {
    
    display: block;
    margin: 15px auto;
}