@import "../../app/mixins.module.scss";
@import "../../app/variables.module.scss";

.form {
    display: block;
}

.form label {
    display: block;
    text-align: left;;
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0 10px 25px;   
}

.form input {
    width : 80%;
}

.form button {
    @include buttonShape;
    padding: 10px;
    display: block;
    margin: 15px auto;
}

.secureCookie {
    margin-left: -50px;
    display: inline-block;
    text-align: left;
}