@import '../../variables.module.scss';
@import '../../mixins.module.scss';

.layoutAccountWrapper{
    text-align: center;
    margin: auto;
    padding-bottom: 30px;
    background-color:$background-purple;
    min-height:600px;
    width: 100%;
    color: white;
    h2{
        margin: none;
        padding-top: 15px 0 0 0;
    }
    h3{
        margin: none;
        padding: none;
    }
   
}
.accountButton {
    background-color: $primary-green;
    border-color: $primary-green;
    color: white;
    font-weight: bold;
    padding: 10px;
}
.accountsWrapper{
    margin: 50px 0 0 0;
    padding-bottom: 30px;
    text-align: left;
   
}

.accountWrapper {
    min-height: 100px;
    width: 75%;
    margin: 30px auto;
    background-color: white;
    color: black;
    padding: 20px;
    position: relative;
    p {
        padding: 2px;
    }
    h3 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .accountButton {
        position: absolute;
        top: 50px;
        right: 20px;
        font-size: 12px;
    }
}

.bankBalance {
    font-size: 2.3em;
    line-height: 0em;
    font-weight: bolder;
    margin-bottom: 0;
    margin-top: 0.8em;
    padding-bottom: 0;
}
.transactionsWrapper{
    width: 75%;
    margin: 30px auto;
    background-color: white;
    color: black;
    padding: 20px;
    

}
.transactionWrapper {
    width:90%;
    background-color: white;
    position: relative;
    border:none;
    margin: 10px auto 20px auto;
    padding : 10px 10px;
    box-shadow: 0 0 3px 3px rgba(76,76,76,0.5) ;
    h4 span {
        font-size: 24px;
        position: absolute;
        right: 50px;
        bottom: 40px;;
    }
    input {
        margin-right : 10px;
    }
    button {
        margin: 0 10px;
        border: none;
        background-color: white;
    }
}
.boardRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
  }
  
  .date, .description, .amount, .balance {
    flex: 1;
    text-align: center;
    padding: 5px;
  }
  
  .description {
    flex: 3;
  }
  