@import "../../app/mixins.module.scss";
@import "../../app/variables.module.scss";


.mainNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
  }
.mainNav a {
font-weight: bold;
color: #2c3e50;
}
.mainNav a.routerLinkExactActive {
  color: #42b983;
}

.mainNavItem {
  text-decoration: none;
  margin-right: 0.5rem;
}
.mainNavItem:hover {
  text-decoration: underline;
}
.mainNavLogo {
  display: flex;
  align-items: center;
}
.mainNavLogoImage {
  max-width: 100%;
  width: 200px;
}
.srOnly {
    @include srOnly;
  }
/*
.imageWrapper {
    position: relative;
    max-width: 100%;
    width: 200px;
    max-height: 60px;
    height: 55px;
    margin-left: 2%;
}


.loginContainer {
    width: 50%;
    @include flex-row;
    justify-content: flex-end;
    margin-right : 2%;
    align-items: center;
    a{  
        font-size: 18px;
        letter-spacing: 0.01em;
        font-weight: bold;
        font-family: Avenir, Helvetica, sans-serif;
        color: #2c3e50;
        text-decoration: none;
        margin: 0 5px;
        @media screen and (max-width: 640px){
            font-size: 16px;
            margin: 0 6px;  
        }
        @media screen and (max-width: 530px){ 
            font-size: 12px;
            margin: 0 4px;
        }
    }
    a:hover {
        text-decoration: underline 2px;
        text-underline-offset: 2px;
        text-decoration-color: #2c3e50;
    }
}

.loginFont{
    
    margin: auto 0px;
    font-weight: bold;
    color: #2c3e50;
}
.loginIcon {
    height: 14px;
    width: 14px;
}

  */