@import "../../app/mixins.module.scss";
@import "../../app/variables.module.scss";

.header {
    height: 7vh;
    @include flex-row;
    justify-content: space-between;
    text-align: center;
    align-items: center;  
}

.imageWrapper {
    position: relative;
    max-width: 100%;
    width: 200px;
    max-height: 60px;
    height: 55px;
    margin-left: 2%;
}


.loginContainer {
    width: 50%;
    @include flex-row;
    justify-content: flex-end;
    margin-right : 2%;
    align-items: center;
    a{  
        font-size: 18px;
        letter-spacing: 0.01em;
        font-weight: bold;
        font-family: Avenir, Helvetica, sans-serif;
        color: #2c3e50;
        text-decoration: none;
        margin: 0 5px;
        @media screen and (max-width: 640px){
            font-size: 16px;
            margin: 0 6px;  
        }
        @media screen and (max-width: 530px){ 
            font-size: 12px;
            margin: 0 4px;
        }
    }
    a:hover {
        text-decoration: underline 2px;
        text-underline-offset: 2px;
        text-decoration-color: #2c3e50;
    }
}

.loginFont{
    
    margin: auto 0px;
    font-weight: bold;
    color: #2c3e50;
}
.loginIcon {
    height: 14px;
    width: 14px;
}
.sronly {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important; /* 2 */
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important; /* 3 */
  }