@mixin flex-row{
    display: flex;
    flex-direction: row;
}

@mixin buttonShape {
    background-color: $primary-green;
    border-color: $primary-green;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    color: $white;
}

@mixin srOnly {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important; /* 2 */
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important; /* 3 */
}

@mixin html {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: $primaryFontColors;
}

@mixin bgDark {
    background-color:$background-purple;
}

@mixin main {
    flex: 1;
}

@mixin header {
    color: $white;
    margin-bottom: 2rem;
}

@mixin signInContent {
    box-sizing: border-box;
    background-color: $white;
    width: 300px;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem;
}

@mixin signInIcon {
    font-size: 5rem;
}

@mixin inputWrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
}

@mixin inputWrapperLabel {
    font-weight: bold;
}

@mixin inputWrapperInput {
    padding: 5px;
    font-size: 1.2rem;
}

@mixin signInButton {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: $primary-green;
    background-color: $primary-green;
    color: $white;
}