@mixin flex-row{
    display: flex;
    flex-direction: row;
}

@mixin buttonShape {
    background-color: $primary-green;
    border-color: $primary-green;
    color: white;
    font-weight: bold;
    padding: 10px;
}

@mixin layoutWrapper{
    text-align: center;
    margin: auto;
    padding-top: 6px;
    padding-bottom: 30px;
    background-color:$background-purple;
    min-height:600px;
    width: 100%;
    color: white;
}

@mixin userWindow {
    margin: auto;
    text-align: center;
    width: 300px;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}