@mixin flex-row{
    display: flex;
    flex-direction: row;
}

@mixin buttonShape {
    background-color: $primary-green;
    border-color: $primary-green;
    
    
    
    
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    
    color: #fff;
}

@mixin layoutWrapper{
    
    text-align: center;
    margin: auto;
    padding-top: 6px;
    padding-bottom: 30px;
    background-color:$background-purple;
    min-height: 80vh;
    width: 100%;
    color: white;
    flex: 1;
    
}

@mixin userWindow {
    
    text-align: center;    
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem;
    color: $primaryFontColors;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin generalFontStyle {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: $primaryFontColors;
}

@mixin srOnly {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important; /* 2 */
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important; /* 3 */
}