.coverImageContainer {
    margin-top: 1%;
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.servicesWrapper {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 1%;
    border-bottom: solid 3px grey;
}

.hookContainer {
    background-color: white;
    padding-top: 35px;
    width: 320px;
    height: 200px;
    position: absolute;
    top: 25%;
    right: 10%;
    h3, p {
        font-size: 24px;
        padding-left: 10%;
        padding-top: 1%;
        margin: 0;
    }
    
}

.serviceLogoWrapper {
    margin: auto;
    width: 100px;
    border: solid 10px #00bc77;
    border-radius: 100px;
}



.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    
}
.imageWrapper {
    position: relative;
    width: 300px;
    height: 70px;
}

.loginContainer {
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right : 3%;
    align-items: center;
    a{
        font-size: 34px;
        font-weight: bold;
        font-family: Avenir, Helvetica, sans-serif;
        text-decoration: none;
        color: black;
    }
}

