.coverImageContainer {
    margin-top: 3%;
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.servicesWrapper {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.hookContainer {
    background-color: white;
    width: 250px;
    height: 140px;
    position: absolute;
    top: 25%;
    right: 10%;
    h3, p {
        padding-left: 10%;
        padding-top: 1%;
        margin: 0;
    }
    
}

.serviceLogoWrapper {
    margin: auto;
    width: 100px;
    border: solid 10px #00bc77;
    border-radius: 105px;
}