@import "../mixins.module.scss";
@import "../variables.module.scss";


.main {
    flex: 1;
  }
.bgDark {
  background-color:$background-purple;
}

  
.signInContent {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
}

.signInIcon {
  font-size: 5rem;
}

