.loginBackground{
    background-color:#12002b;
    height:600px;
    width: 100%;
    padding-top: 6%;
}

.loginWindow{
    margin: auto;
    text-align: center;
    width: 300px;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    h3{
        margin-top: 10px;
        font-size: 30px;
    }
    
}