.loginBackground{
    background-color:#12002b;
    height:740px;
    width: 100%;
    padding-top: 8%;
}

.loginWindow{
    margin: auto;
    text-align: center;
    width: 300px;
    background-color: white;
    h3{
        margin-top: 10px;
        font-size: 30px;
    }
}