@import "../mixins.module.scss";
@import "../variables.module.scss";

.layoutAccountWrapper{
    text-align: center;
    margin: auto;
    background-color: $background-purple;
    min-height:600px;
    width: 100%;
    color: white;
    h2{
        margin: none;
        padding-top: 15px 0 0 0;
    }
    h3{
        margin: none;
        padding: none;
    }
   
}

.loginWindow{
    margin: auto;
    text-align: center;
    width: 300px;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    h3{
        margin-top: 10px;
        font-size: 30px;
    }
    
}

.form {
    display: block;
    background-color: white;
    color: black;
    
}

.form label {
    display: block;
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0;
}

.form button {
    background-color: $primary-green;
    border-color: $primary-green;
    color: white;
    font-weight: bold;
    padding: 10px;
    display: block;
    margin: 15px auto;
}
