@import "../mixins.module.scss";
@import "../variables.module.scss";

.layoutAccountWrapper{
    @include layoutWrapper;
    h2{
        margin: none;
        padding-top: 15px 0 0 0;
    }
    h3{
        margin: none;
        padding: none;
    }
   
}

.loginWindow{
    @include userWindow;
    h3{
        margin-top: 10px;
        font-size: 30px;
    }
    
}

.form {
    display: block;
    background-color: white;
    color: $primaryFontColors;
    
}

.form label {
    display: block;
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0;
}

.form button {
    @include buttonShape;
    padding: 10px;
    display: block;
    margin: 15px auto;
}
