@import "../../mixins.module.scss";
@import "../../variables.module.scss";

.main {
  @include main;
}

.bgDark {
  @include bgDark;
}

.signInContent {
  @include signInContent;
}

.signInIcon {
  @include signInIcon;
}

.inputWrapper {
  @include inputWrapper;
}

.inputWrapper label {
  @include inputWrapperLabel;
}

.inputWrapper input {
  @include inputWrapperInput;
}
  
.signInButton {
  @include signInButton;
}

.srOnly {
  @include srOnly;
}