.layoutAccountWrapper{
    text-align: center;
    margin: auto;
    background-color:#12002b;
    height:600px;
    width: 100%;
    color: white;
    h2{
        margin: none;
        padding-top: 15px 0 0 0;
    }
    h3{
        margin: none;
        padding: none;
    }
   
}



.form {
    display: block;
    background-color: white;
    color: black;
    
}


.form label {
    display: block;
    text-align: left;;
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0 10px 25px;   
}
.form input {
    width : 80%;
}
.form button {
    background-color: #00bc77;
    border-color: #00bc77;
    color: white;
    font-weight: bold;
    padding: 10px;
    display: block;
    margin: 15px auto;
}

.loginWindow{
    margin: auto;
    text-align: center;
    width: 300px;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    h3{
        margin-top: 10px;
        font-size: 30px;
    }
    
}
.greyedInput {
    background-color: lightgrey;
}